$primary-color: red !default;
$secondary-color: blue !default;
$tertiary-color: orange !default;
$quaternary-color: yellow !default;

$color-properties: color background !default;

$state-colors: (primary: $primary-color,
                secondary: $secondary-color,
                tertiary: $tertiary-color,
                quaternary: $quaternary-color
                ) !default;

@each $property in $color-properties {
  @each $color-name, $color in $state-colors {
    .#{$property + '-' + $color-name} {
      #{$property}: $color !important;
    }
  }
}
