$margin-prefix: 'margin' !default;
$margin-value: 1rem !default;
$margin-states: top right bottom left !default;

@each $margin in $margin-states {
  .#{$margin-prefix + '-' + $margin} {
    margin-#{$margin}: $margin-value !important;
  }
}

.#{$margin-prefix + '-off'} {
  margin: 0 !important;
}

@each $margin in $margin-states {
  .#{$margin-prefix + '-off-' + $margin} {
    margin-#{$margin}: 0 !important;
  }
}
