$padding-prefix: 'padding' !default;
$padding-value: 1rem !default;
$padding-states: top right bottom left !default;


@each $padding in $padding-states {
  .#{$padding-prefix + '-' + $padding} {
    padding-#{$padding}: $padding-value !important;
  }
}

.#{$padding-prefix + '-off'} {
  padding: 0 !important;
}

@each $padding in $padding-states {
  .#{$padding-prefix + '-off-' + $padding} {
    padding-#{$padding}: 0 !important;
  }
}
