$position-prefix: 'pos' !default;
$position-property: position !default;
$position-states: relative absolute fixed static !default;

@each $property in $position-property {
  @each $position in $position-states {
    .#{$position-prefix + '-' + $position} {
      #{$property}: $position !important;
    }
  }
}

$float-prefix: 'float' !default;
$float-property: float !default;
$float-states: left right !default;

@each $property in $float-property {
  @each $float in $float-states {
    .#{$float-prefix + '-' + $float} {
      #{$property}: $float !important;
    }
  }
}
